body {
  background-image: url(http://photos.up-wallpaper.com/images252/wp1lbbm1hvq.jpg);
  color: lightgrey;
}
.Structure {
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}
.Structure p {
  font-family: cursive;
}
div {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  height: 50%; 
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-family: cursive;
  color: black;
}
h2 {
  color: black;
  text-align: center;
  font-family: cursive;
}
h3 {
  text-align: center;
  color: black;
  font-family: cursive;
}
p {
  text-align: center;
  font-family: purisa;
  line-height: 3;
}
p b {
  font-family: cursive;
}
img {
  margin-left: 40%;
  width: 20%;
  height: 20%;
}
.bouton {
  background-color: black;
  font-size: 1.2em;
  border-radius: 5px;
}
